<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 时间线 Tab -->
  <ion-tab title="时间线" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/timeline">
    <ion-nav-view name="tab-timeline"></ion-nav-view>
  </ion-tab>

  <!-- 探索 Tab -->
  <ion-tab title="探索" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/tab/products">
    <ion-nav-view name="tab-products"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="概述" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/desc">
    <ion-nav-view name="tab-desc"></ion-nav-view>
  </ion-tab>

</ion-tabs>
