<ion-view view-title="探索">
    <ion-content>
        <ul class="profile" style="margin-left:5%;">
            <li ng-repeat="image in images" class="profile">
                <a href="#"><img ng-src="{{image.url}}"></a>
            </li>
            <!--<li class="profile">-->
                <!--<a href="#"><img src="images/placehold_100x100.png"></a>-->
            <!--</li>-->
            <!--<li class="profile" style="list-style-type: none;">-->
                <!--<a href="#"><img src="images/placehold_100x100.png"></a>-->
            <!--</li>-->
            <!--<li class="profile" style="list-style-type: none;">-->
                <!--<a href="#"><img src="images/placehold_100x100.png"></a>-->
            <!--</li>-->
            <!--<li class="profile" style="list-style-type: none;">-->
                <!--<a href="#"><img src="images/placehold_100x100.png"></a>-->
            <!--</li>-->
            <!--<li class="profile" style="list-style-type: none;">-->
                <!--<a href="#"><img src="images/placehold_100x100.png"></a>-->
            <!--</li>-->
            <!--<li class="profile" style="list-style-type: none;">-->
                <!--<a href="#"><img src="images/placehold_100x100.png"></a>-->
            <!--</li>-->
        </ul>
    </ion-content>
</ion-view>
